body{
    width:1240px;
    background-color:#1d4488;
    font-family:"Segoe UI";
    margin-left:auto;
    margin-right:auto;
}


div.fond{
    display: block;
    overflow: auto;
    background-color:#f9faff;
    padding:20px;
    border:0px solid aliceblue;
    border-radius:10px;
}

/* Titles */
h1{

}

/* Version number */
#version{
    font-size:50%;
    color : gray;
    font-weight : normal;
}

/* * Left side * */

#form_text{
    width:658px;
    float:left;
}
/* Textarea in which the text is entered */
#ta_text{
    width: 645px;
    resize: none;
    padding:5px;
    border:2px solid deepskyblue;
    border-radius:10px;    
    font-family:"Segoe UI"; 
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20.8px;
}


/* * Right side * */

#form_posts{
    float:right;    
}


/* Each post textarea in the thread */
.ta_post{
    margin-bottom:8px;
    padding:8px;
    clear: left;
    float: left;
    resize:none;
    overflow:hidden;
    width:503px;
    border:2px solid deepskyblue;
    border-radius:5px;
    font-family:"Segoe UI"; 
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 20.8px;
    word-break: break-word;
}

/* File input button */
#div_posts label{
    clear: left;
    float: left;
    margin-bottom:10px;
}

/* File input button img */
#div_posts label img{
    width:24px;
    cursor:pointer;
}

/* input type = file */
.input_images{
    clear: left;
    float: left;
    display :none;
}

/* Zone in which we insert the images thumbnails */
#div_posts output{
    float: left;
    width: 490px;
}

/* Output zone cell */
#div_posts output td{
    width: 100px;
}

/* Thumbnail in the output zone */
#div_posts output img{
    height:80px;
    clear: both;
    float: left;
    object-fit: cover;
    max-width:125px;
    margin-right:5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

/* Alt input in the output zone */
#div_posts output input{
    clear: both;
    float: left;
    width: 90%;
}

/* Display of the post characters count*/
.nb_char{
    text-align: right;
    margin-bottom: 10px;
    color:gray;
}

/* In case the characters count closes the limit */
.nb_char .warning{
    color : red;
    transition:0.5s;
}


/* * BUTTONS * */

/* buttons (cut, send..) */
.btn{
    padding:5px 10px 5px 10px;
    border:1px solid skyblue;
    border-radius:3px;
}
 
#btn_cut{
    margin-top:10px;
}

/* Button to add / remove a post at the bottom */
#btn_add_post, #btn_remove_post{
    width: 30px;
    height: 30px;
    border: 1px solid skyblue;
    border-radius: 50%;
    font-size: 120%;
    line-height: 0px;
}

#btn_remove_post{

}

#btn_add_post{
    margin-left:15px;
}

/* Button to send the thread */
#btn_send{
    float: right;
    clear: right;
}


/* * LOGIN PAGE * */

/* Login form */
#form_login{
    margin:auto;
    padding : 10px;
    width:300px;
    height:150px;
    background-color: #c8c8c8;
    border:0px;
    border-radius:10px;
    text-align: center;
    box-shadow: 2px 2px 2px gray;
}

 
#form_login input{
    margin-top:12px;
    padding-left:10px;
    height:35px;
    width:250px;
    background-color: #fff;
    border: 0px;
    font-size:100%;
}

#form_login #btn_valider{
    margin-top:12px;
    width:150px;
    height:30px;
    border:0px;
    font-size:100%;
    background-color: #1d4488;
    color: white;
}

p.note{
    margin:50px auto 20px;
    font-size:80%;
}

.flash_error{
    text-align:center;
    color:red;
}