body{
    width:1240px;
    background-color:#b9c7df;
    font-family:"Segoe UI";
    margin-left:auto;
    margin-right:auto;
}

/* Titres */
h1{
    
}

#version{
    font-size:50%;
    color : gray;
    font-weight : normal;
}

.zone_texte{
    float:left;
}
/* Champ dans lequel on saisit le texte */
#text{
    width: 645px;
    font-family:"Segoe UI"; 
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 20.8px;
    resize: none;
    padding:5px;
    border:2px solid deepskyblue;
    border-radius:10px;
}

div.fond{
    display: block;
    overflow: auto;
    background-color:white;
    padding:20px;
    border:0px solid aliceblue;
    border-radius:10px;
}

#posts{
    float:right;
    padding-top:0px;
    padding-left:10px;
}

/* Chaque post du thread */
.post{
    font-family:"Segoe UI"; 
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 20.8px;
    border:2px solid deepskyblue;
    width:503px;
    word-break: break-word;
    padding:8px;
    border-radius:5px;
    margin-bottom:8px;
    clear: left;
    float: left;
    resize:none;
    overflow:hidden;
}

#posts label{
    clear: left;
    float: left;
    margin-bottom:10px;
}

label img{
    width:24px;
    cursor:pointer;
}

.image_button{
    clear: left;
    float: left;
    display :none;
}

/* Zone dans laquelle on insere les vignettes des images */
#posts output{
    float: left;
    width: 490px;
}

/* Affichage du nombre de caractères par post */
.nb_char{
    text-align: right;
    margin-right: 5px;
    margin-bottom: 10px;
    color:gray;
}

.nb_char .warning{
    color : red;
}

output td{
    width: 100px;
}

output img{
    height:80px;
    clear: both;
    float: left;
    object-fit: cover;
    max-width:125px;
    margin-right:5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

output input{
    clear: both;
    float: left;
    width: 90%;
}



/* Bouton pour envoyer le thread */
#envoyer{
    float: right;
    clear: right;
}

#login_form{
    margin:auto;
    padding : 10px;
    width:300px;
    height:150px;
    background-color: white;
    border:0px;
    border-radius:10px;
    text-align: center;
}

 
#login_form input{
    margin-top:12px;
    padding-left:10px;
    height:35px;
    width:250px;
    background-color: #eee;
    border: 0px;
    font-size:100%;
}

#login_form #btn_valider{
    margin-top:12px;
    width:150px;
    height:30px;
    border:0px;
    font-size:100%;
}

/* Button to add a post at the bottom */
#btn_add_post{
    margin-top: -20px;
    padding-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
    clear:left;
    border: 1px solid deepskyblue;
    border-radius: 50%;
    font-size: 120%;
    line-height: 0px;
}

p.note{
    margin-top:50px;
    font-size:80%;
}

.flash_error{
    text-align:center;
    color:red;
}