<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>{% block title %}{% endblock %}</title> 
    <meta charset=utf-8>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/static/favicon_32.png">
</head>
<body {% block body_function %}{%endblock %}>

    <div class="fond">
    <header>
        <h1>{% block h1%}{% endblock %} <span id="version">v0.1.3</span></h1>
    </header>

    {% block content %}{% endblock %}
    
    </div>
</body>
</html>