{% extends 'base.html' %}

{% block title %}Blue Thread - Connection{% endblock %}

{% block h1 %}
    Welcome on Blue Thread!
{% endblock %}

{% block content %}
    <p>Post a thread easily on the Bluesky network.</p>
    <p>To begin, please log in.</p>

    <form id="form_login" method="POST" action="/login">
        <input id="login" name="login" placeholder="Login (ex : nickname.bsky.social)" autofocus required ></input>
        <input id="password" type="password" name="password" placeholder="App password" required></input>
        <button id="btn_validate" type="Submit">Connection</button>
    </form>

    {% if error%}
        <p class="flash_error"><strong>{{error}}</strong></p>
    {% endif%}

    <p class="note"><strong>Note</strong> : for security reasons, don't use the main password for your Bluesky account, but generate an <em>app password</em> that you'll use only for this application.<br />You can manage your app passwords on this page : Settings > Advanced > <a href="https://bsky.app/settings/app-passwords">App Passwords</a>.</p>

{% endblock %}