<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>Blue Thread - Connexion</title>
    <meta charset=utf-8>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Bienvenue sur Blue Thread !</h1>

    <p>Postez un thread automatiquement sur le réseau Bluesky.</p>

    <p>Pour commencer, veuillez vous connecter.</p>


    <form id="login_form" method="POST" action="/login">
        <input id="login" name="login" placeholder="Login" autofocus ></input><br />
        <input id="password" type="password" name="password" placeholder="App password"></input><br />

        <button id="btn_valider" type="Submit">Connexion</button>
    </form>

     {% if error%}
        <p class="flash_error"><strong>{{error}}</strong></p>
    {% endif%}

    <p class="note">Note : par sécurité, n'utilisez pas le mot de passe principal de votre compte Bluesky, mais générez un app password que vous utiliserez seulement pour cette application.</p>

</body>
</html>