<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>Blue Thread</title> 
    <meta charset=utf-8>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body onload="resizePosts()">

    <div class="fond">
    <h1>Blue Thread <span id="version">v0.1</span></h1>
    
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
            <p class="flash_error"><strong>{{message}}</strong></p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <p>Connecté en tant que {{session.name}} <a href="/logout"><button>Déconnexion</button></a></p>
    
    <form method="POST" class="zone_texte">
        <textarea id="text" name="text" rows="30" cols="70" minlength="300" autocomplete="off" autocorrect="on"  autofocus="on" placeholder="Racontez-nous tout">{{text}}</textarea>
        <br />
        <input id="btn_cut" type="Submit" name="action" value="Découper le texte" {% if text == "" %} disabled {% endif %} />
        
    </form>
    
    <form method="POST" id="form_posts" enctype="multipart/form-data" >
        <div id="posts">
        {% for post in thread %}
            <textarea id="post{{loop.index}}" name="post" class="post" maxlength="300" oninput="resizeTextarea(this)">{{post}}</textarea>
            <!-- <label for="file_btn{{loop.index}}"><img src="static/image_icon.png" /></label> -->
            <input id="file_btn{{loop.index}}" type="file" name="image" accept="image/png, image/jpg, image/jpeg" class="image_button" value="test"  onchange="loadFile(event, {{loop.index}})"/>
            <div id="nb_char{{loop.index}}" class="nb_char"><span>0</span>/300</div>
            <output id="thumbnail_zone{{loop.index}}"><table><tr id="output_table_row{{loop.index}}"></tr></table></output>
        {%endfor%}
        {% if thread | length%}
        <button type="button" id="btn_remove_post" title="Supprimer un post" onclick="removePost(this)">-</button>
        <button type="button" id="btn_add_post" title="Ajouter un post" onclick="addPost(this)">+</button>
        {% endif %}
        </div>
        {% if thread | length%}
        <input type="Submit" name="action" value="Envoyer" {{disabled}} id="envoyer" />
        {% endif %}
    </form>
    </div>
    
    <script>
    const btn = document.getElementById("btn_cut");
    const textarea = document.getElementById("text");
    // Only allow to click on the cut button if the text is long enough
    textarea.addEventListener('input', () => {
        btn.disabled = textarea.value.length < 300;
    });
    
    /* Displays a dialog to ask the alt text and updates the input value */
    var inputAlt = function (event){
        // console.log(event);
        const input = event.target;
        const old_alt_text = document.getElementById(input.id).value;  // get the previous alt value which is in the input field
        new_alt_text = prompt("Décrivez l'image :", old_alt_text);      // Prompts the user to input a new alt text
        document.getElementById(input.id).value=new_alt_text;          // Sets the input value with the new alt text
        document.getElementById(input.previousElementSibling.firstChild.id).title=new_alt_text;    // Sets the img title property which displays a tooltip over the picture
    };
    
    /* Called when a picture is added 
       It adds the picture's thumbnail, and an input field for the alt text */
    var loadFile = function(event, i) {
        const tr = document.getElementById('output_table_row'+i);
        const num_image = tr.cells.length+1;
                
        const image=document.createElement("img");
        image.src = URL.createObjectURL(event.target.files[0]);
        image.id="img"+i+"_"+num_image;
        
        // Link that opens the picture in a new tab
        const lien=document.createElement("a");
        lien.href=URL.createObjectURL(event.target.files[0]);
        lien.target="_blank"
        lien.appendChild(image);
        
        const alt=document.createElement("input");
        alt.placeholder="alt";
        alt.id="alt"+i+"_"+num_image;
        alt.name="alt"+i
        alt.addEventListener("click", inputAlt);
        
        const td=document.createElement("td");
        td.appendChild(lien);
        td.appendChild(alt);
        
        tr.appendChild(td);        
        
    };
    
    /* Resizes a textarea to matchy the content height */
    function resizeTextarea(element){
        element.style.height = "auto";
        element.style.height = element.scrollHeight-10 + "px";
        
        /* Updating the displayed number of characters */
        var nb_char = element.value.length;
        element.nextElementSibling.nextElementSibling.firstChild.innerText = nb_char;
        
        if (nb_char >= 290) {
            element.nextElementSibling.nextElementSibling.firstChild.classList.add("warning");
        }
        else{
            element.nextElementSibling.nextElementSibling.firstChild.classList.remove("warning");
        }
        
        if (element.value == ""){
            document.getElementById("envoyer").disabled = true;
            document.getElementById("envoyer").title="Aucun post ne doit être vide pour envoyer le thread";
        }
        else {
           document.getElementById("envoyer").disabled = false;
           document.getElementById("envoyer").title="";
        }
        
    }
    
    /* Resizes all the posts textareas */
    function resizePosts(){
        var ta = document.getElementById('form_posts').getElementsByTagName('textarea');
        var i = 1;
        for (let element of ta) {
          resizeTextarea(element);
          i=i+1;
        }
    }
    
    /* Adds a new post at the botom of the posts */
    function addPost(element){
        const new_ta = document.getElementById("post1").cloneNode(true);
        const new_number = document.getElementsByClassName("post").length+1;
        
        new_ta.id = "post"+new_number;
        new_ta.innerText="";
        
        new_input = document.getElementById("file_btn1").cloneNode(true);
        new_input.id="file_btn"+new_number;
        
        new_nb_char = document.getElementById("nb_char1").cloneNode(true);
        new_nb_char.id="nb_char"+new_number;
        new_nb_char.firstChild.innerText="0";
        
        new_thumbnail_zone = document.getElementById("thumbnail_zone1").cloneNode(true);
        new_thumbnail_zone.id="thumbnail_zone"+new_number;
        
        element.parentNode.insertBefore(new_ta, document.getElementById("btn_remove_post"));
        element.parentNode.insertBefore(new_input, document.getElementById("btn_remove_post"));
        element.parentNode.insertBefore(new_nb_char, document.getElementById("btn_remove_post"));
        element.parentNode.insertBefore(new_thumbnail_zone, document.getElementById("btn_remove_post"));
      
        resizeTextarea(new_ta);
        
        /* If there is only 2 posts (we just added one so there was only one before), we activate the remove button again */
        if (document.getElementsByClassName("post").length == 2){
            document.getElementById("btn_remove_post").hidden = false;
            document.getElementById("btn_add_post").style.marginLeft = "50px";
        }
    }
    
    /* Removes the last post of the thread */
    function removePost(element){
    
        /* Deletes 4 previous elements (textarea, button etc). */
        element.previousElementSibling.remove();
        element.previousElementSibling.remove();
        element.previousElementSibling.remove();
        element.previousElementSibling.remove();
        
        /* If there is only one post left, we hide the "remove post" button */
        if (document.getElementsByClassName("post").length == 1){
            element.hidden = true;
            document.getElementById("btn_add_post").style.marginLeft = "0px";
        }
        
        resizePosts();
    }
    
    </script>

</body>
<html>