<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>Blue Threads</title>
    <meta charset=utf-8>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="fond">
    <h1>Blue Threads</h1>
    
<!--    {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
            <p><strong>{{message}}</strong></p>
            {%endfor%}
        {%endif%}
    {%endwith%}-->
    <p>Thread envoyé avec succès sur le compte de {{session.name}} !</p>
    <a href="/thread"><button>Retour</button></a>
    </div>
</body>
<html>